{% extends 'home/base.html' %}
{% load static %}


{% block content %}
    
    <div class="tags">

        {% for tag in tags %}
            <form method="GET" onchange=document.forms[0].submit()>

            </form>
        {% endfor %}
    </div>
    <div class="main">
        {% for vinyl in vinyls %}
            <div class="vinyl_record">
                <img class="cover" src="/media/{{ vinyl.cover }}">
                <h1 class="title"><a>{{vinyl.artist.name}}</a></h1>
                <h1 class="title"><a>{{vinyl.title}}</a></h1>
                <h3 class="artist">{{vinyl.artist}}</h3>
                <h1 class="price">{{vinyl.price}} $</h1>
                <button class="to_stock">Add to cart</button>
            </div>
        {% endfor %}
    </div>
    <script>   
    </script>
{% endblock %}