{% extends "home/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block content %}
    {% comment %} <h1 class="mt-5 pt-5"><span style="color: rgb(215, 204, 204);">{{ content_1 }}</span>
    <br>
    <strong><span style="color: rgb(18, 6, 6);">{{ content_2 }}</span></strong></h1> {% endcomment %}
    
    <div class="container mt-5">
        <!-- Горячие новинки -->

        <h2 class="mb-4">Артисты</h2>
        {% for artist in artists%}
            <p>{{ artist.name }}</p>
            <p><img src="{{ artist.pfp.url }}" width = 100></p>
            <p>{{ artist.major_info }}</p>
        {% endfor %}



        <h2 class="mb-4">Пластинки</h2>
        <div class="row">
            {% for vinyl in vinyl_records %}
            {% for i in '012345'|make_list %}
            <div class="col-lg-3 col-md-4 mb-4 p-4">
                <div class="card border-primary rounded custom-shadow">
                    <img class="mx-1" src={{ vinyl.cover.url }} class="card-img-top" width=212>
                    <div class="card-body">                           
                            <p>{{ vinyl.title }}</p>
                            <p>{{ vinyl.price }}</p>
                            {% for tag in vinyl.tags.all %}
                                <p>{{ tag.name }}</p>
                            {% endfor%}
                            <p>{{ vinyl.release_date|date:"SHORT_DATE_FORMAT" }}</p>
                    </div>
                </div>    
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        </div></div>
        <h2 class="mb-4">Горячие новинки</h2>
        <div class="row">
            {% for item in hot_new_items|slice:":5" %} <!-- Отображаем только 5 товаров -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-text"><strong>{{ item.price }} $</strong></p>
                        <a href="{% url 'catalog:item_detail' item.id %}" class="btn btn-primary">Купить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Горячие скидки -->
        <h2 class="mb-4">Горячие скидки</h2>

        <div class="row">
            {% for item in hot_discount_items|slice:":5" %} <!-- Отображаем только 5 товаров -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-text"><strong><del>{{ item.original_price }} $</del> {{ item.discounted_price }} $</strong></p>
                        <a href="{% url 'catalog:item_detail' item.id %}" class="btn btn-danger">Купить со скидкой</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div class="pagination">
    {% if is_pagination %}
    {% endif %}
    </div>
    </div>
{% endblock %}
